#top-navbar {
    margin-right: 1.3em;
}

li {
    display:inline;
}

li * {
    float:right;
}

.navbar-text {
    margin: 2em 0.5em;
    font-family: arial,sans-serif;
    font-size: 0.82em;
    color:rgba(0,0,0,0.87);
    text-decoration:none;
}
.navbar-text:hover {
    opacity: .85;
    text-decoration: underline;
}

#google-apps {
    height: 1.6em;
    margin: 1.2em 0.4em;;
}

#notifications {
    height: 1.3em;
    margin: 1.3em 0.4em;
}

#google-apps , #notifications{
    opacity: .53;
}

#google-apps:hover , #notifications:hover{
    opacity: 1;
}

