li {
    display:inline;
}
li a {
    float:right;
    margin: 2em 0.4em;

    font-family: arial,sans-serif;
    font-size: 0.82em;
    color:rgba(0,0,0,0.87);
}

#top-navbar {
    margin-right: 1.3em;
}